{% extends 'base.html' %}

{% block title %}
Create Recipe
{% endblock title %}

{% block content %}
    <main>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
        <button>Create</button>
        </form>
    </main>

{% endblock content %}
