{% extends 'base.html' %}

{% block title %}
Scrumptious Recipes
{% endblock title %}

{% block content %}
    <main>
        <h1>Scrumptious Recipes</h1>
        <h2>All the food that's fit to eat</h2>
        <div class="grid-container">
            {% for recipe in recipe_list %}
            <div>
                <h3>
                <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                </h3>
                <img src="{{ recipe.picture|default:"https://upload.wikimedia.org/wikipedia/commons/c/c1/Homemade_food_8.jpg" }}">

            <div>4.3 stars</div>
            <p>{{ recipe.created_on|date:"F j, Y"}}</p>
            
            </div>

            {% endfor %}
        </div>
    </main>
{% endblock content %}
