
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

main {
    padding: 16px;
}

header {
    background-color: coral;
}

h1 {
    color:darkgreen
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    border-color: blueviolet;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:forestgreen
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px;
    padding: 16px;
    border-color: black;
}

a {
    text-decoration: none;

}

a:hover {
    color: green;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

li:nth-child(2n) {
    background-color:lightsteelblue
}

tr:nth-child(2n) {
    background-color:lightsteelblue
}

